# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yohannes.getu\Desktop\Python\2\App-4-Webcam-Photo-Sharer\photo-searcher-app-python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
